* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  /* width: 100%; */
  overflow-x: hidden;
}

nav {
  background-color: aqua;
  /* min-height: 20%; */
  height: 30%;
  width: 100%;
  font-size: larger;
  font-style: italic;
  font-weight: bolder;
  padding: 1rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

.title {
  display: flex;
  align-content: center;
  justify-content: center;
}

.inputArea {
  display:flex;
  flex-direction: row;
  justify-content: center;
  height: 2rem;
  width: 50%;
  border-radius: 10px;
  position: relative;
}

.inputT {
  width: 100%;
  padding: 0 1rem;
  border: 1px solid grey;
  border-radius: 3px;
}

.inputT:hover{
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.2);
}

.inputT:focus{
  background-color: bisque;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.2);
}

.add-btn {
  position:absolute;
  right: 0;
  width: 5rem;
  height: 100%;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(50, 57, 58);
  background-color: rgb(98, 214, 237);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: -4px 0  4px rgba(0, 0, 0, 0.2);
}

.add-btn:hover{
  background-color: rgb(58, 125, 139);
}

.add-btn:active{
  transform: translateY(3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding:1rem;
  gap: 3rem;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(95, 66, 35);
  border-radius: 10px;
  padding: 0.5rem;
  gap: 2rem;
}




