* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 50%;
  height: auto;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  padding: 1rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.title {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 3rem;
}

.inputArea {
  display:flex;
  flex-direction: row;
  justify-content: center;
  height: 2rem;
  width: 90%;
  min-width: 300px;
  border-radius: 10px;
  position: relative;
}

.inputT {
  width: 100%;
  padding: 0 1rem;
  background-color: #aeabab;
  border: none;
  border-radius: 10px;
}

.inputT:hover{
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.2);
}

.inputT:focus{
  background-color: bisque;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.2);
}

.add-btn {
  cursor: pointer;
  position:absolute;
  right: 0.5%;
  top: 10%;
  width: 5rem;
  height: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(50, 57, 58);
  background-color: rgb(154, 210, 219);
  transition: transform 0.3s ease-in-out, box-shadow 0.1s ease;
    box-shadow: -4px 0  4px rgba(0, 0, 0, 0.2);
}

.add-btn:hover{
  background-color: rgb(58, 125, 139);
}

.add-btn:active{
  transform: scale(0.8) ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.list-container{
  display:flex;
  width: 90%;
  min-width: 300px;
}

.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  padding:1rem;
  gap: 1rem;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
  gap: 2rem;
  cursor: pointer;
  background: #f7f5f5;
}

li:nth-child(odd) {
  background: #cec4c4;
}

li:hover {
  box-shadow: 6px 6px 6px gray;
  transition: all 0.4s;
}

li.done {
  opacity: 50%;
}

li.done span{
  text-decoration: line-through;
}

.task-checkbox {
  appearance: none;
  -webkit-appearance: none;
  background-color: #ffecec;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.task-checkbox:checked::after {
  content: '✔';
  color: rgb(196, 116, 116);
  font-size: 14px;
  position: absolute;
  top: 3px;
  left: 2px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: larger;
  width: 10%;
}




